@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-slate-950;
    @apply text-white;
  }
}

html, body, #__nuxt { height: 100%; }

.custom-font-normal {
  font-family: "Outfit", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.custom-font-bold {
  font-family: "Outfit", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Nuxt Content Markdown */
#__nuxtContent a {
  color: #25343F;
  text-decoration-line: underline;
}
#__nuxtContent a:hover {
  color: #FF9B51;
}

#__nuxtContent h2 {
  margin-bottom: 1.5rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  border-bottom: 2px solid #25343F;
  font-size: 1.25rem;
  font-weight: 600;
}

#__nuxtContent h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#__nuxtContent p {
  margin-bottom: 1.75rem;
  line-height: 1.75rem;
}

#__nuxtContent article ul {
  margin-bottom: 1.75rem;
  line-height: 1.75rem;
}

#__nuxtContent article ul li {
  list-style: disc inside;
}

#__nuxtContent h2 a,
#__nuxtContent h3 a {
  text-decoration: none !important;
}

#__nuxtContent h2 a:hover,
#__nuxtContent h3 a:hover {
  color: #25343F;
  cursor: default;
}